* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




/* video  */
.videoplayer {
  margin: 0 auto;
  width: 1000px;
}

iframe {
  width: 100%

}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ea9a85;
  min-height: 13vh;
  font-family: "Avenir";
}

p.hello {
  font-family: "Avenir";
  font-weight: 500;
  font-size: 35px;
  padding-left: 40px;
  padding-top: 40px;}


p.intro {
  font-family: "Avenir";
  line-height: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  text-align: left;}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
  padding: 5px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
}

.projects-grid img {
  display: block;
  margin: 0;
}

p.project-text {
  font-family: "Avenir";
  line-height: 30px;
  text-align: center;
  padding-bottom: 40px;
}

/* Large Phone - 2 column */
@media screen and (max-width: 700px){
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small Phones - 1 column */
@media screen and (max-width: 400px){
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.nav-links{
  z-index: 10;
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links li{
  z-index: 15;
  list-style: none;
}

.nav-links a{
  z-index: 20;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
}

.burger{
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px;
  transition: all 0.3s ease;
}


@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 87vh;
    top: 13vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger{
    display: block;
  }
}


.nav-active{
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

@@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);

}





body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Avenir"
}

div.panel {
  padding: 0 18px;
  color: #000;
  max-height: 0;
  overflow: hidden;
  width: 67.45%;
  margin: 0 auto;
  transition: max-height .2s ease-out;
}



/* 아코디언 */



/*  */


#text {
  color: black;
  padding-top: 50px;
  font-size: 30px;
  font-family: "Avenir";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.contact {
  font-family: "Avenir";
  line-height: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

/*왜 이 버튼 안되는지*/
.button {
    background-color: #EA9981;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "Avenir";s
    font-size: 16px;
    cursor: pointer;
  }

.button:hover {
    background-color: black;
  }

}

.social{
  padding-top: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-53%, -50%);
  text-align: center;
  color: gray;
}

li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
  transition: .5s;
}

li:hover {
  color: #EA9981;
  transition: .5s;
}

p.photo {
    font-family: "Avenir";
    line-height: 25px;
    margin-right: 25px;
    margin-left: 25px;
  }

p.sub-title {
    font-family: "Avenir";
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }

/*이거 어떻게 center 하는지*/
slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  overflow: hidden;
  position: absolute;
  align-content: center;
}

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: red;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url(1.jpg)
  background-position: center;
  background-size: cover;
}


slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url(2.jpg)
  background-position: center;
  background-size: cover;
}

slide:nth-child(3) {
  left: 0%;
  animation-delay: 5s;
  background-image: url(3.jpg)
  background-position: center;
  background-size: cover;
}

slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url(4.jpg)
  background-position: center;
  background-size: cover;
}


slide p {
  font-family: "Avenir";
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;
}

@keyframes slide {
  0% { left: 100%; width: 100%;}
  5% { left: 0%;}
  25% { left: 0%;}
  30% { left: -100%; width: 100%;}
  30.0001% { left: -100%; width: 0%;}
  100% { left: 100%; width: 0%;}


}

section {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

.photo {
   min-width: 0;
   margin: 5px;
}

img {
   width: 450px;
   max-width: 100%;
   max-height: 450px;
 }
}



----------

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


-------------


* {box-sizing: border-box}
body {
  font-family: Verdana, sans-serif;
  margin:0 }

.mySlides {
  display: none
}

img {
  vertical-align:
  middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  max-height: 100%;
  position: center;
  margin: auto;
  /* background-color: red; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 50%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}















/* video */

.player {
  max-width: 800px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin-bottom: 5em;

  &:hover {
    .progress {
      height: 10px;
    }

    /* .player-controls {
      transform: translateY(0);
    } */
  }
}

.player:-webkit-full-screen,
.player:fullscreen {
  max-width: none;
  width: 100%;
}
/*
.play-btn {
  flex: 1;
} */

.player-video {
  width: 100%;
  align-items: center;
  display: block;
}

/* .player-btn {
  background: none;
  border: 0;
  color: red;
  text-align: center;
  max-width: 60px;
  padding: 5px 8px;

  svg {
    fill: yellow;
  }

  &:hover,
  &:focus {
    border-color: pink;
    background: rgba(255, 255, 255, .2);
  }
} */

.player-slider {
  width: 10px;
  height: 30px;
  background: #d3d3d3;
}

/* .player-controls {
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
} */

/* .player-controls > * {
  flex: 1;
} */

/* .progress {
  position: relative;
  display: flex;
  flex: 10;
  flex-basis: 100%;
  height: 4px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
} */


/*.sliders {
  max-width: 200px;
  display: flex;
}*/

input[type=range] {
  -webkit-appearance: none;
  background: gray;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.8);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 10px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}
 */

















/* footer */

footer {
  text-align: center;
}

.footer{
  font-family: "Avenir";
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}
